<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.reappay.pg.payments.paymentsback.dao.MybatisDao">

    <select id="countApprovalTranSeq" parameterType="string" resultType="int">
        select
            count(*) as tt
        FROM    tb_transaction_card
        WHERE   tran_seq = #{tranSeq}
    </select>

    <select id="findApprovalTranSeq" parameterType="string" resultType="ApprDto">
        select
               order_date,
               order_time,
               tot_amt,
               goods_name,
               goods_code,
               currency_type,
               cust_id,
               cust_name,
               cust_email,
               cust_phone,
               order_seq,
               pg_merch_no,
               pg_tid,
               status,
               tran_type,
               store_id
        FROM    tb_approval
        WHERE   tran_seq = #{tranSeq}
    </select>

    <insert id="addOrder" parameterType="OrderDto" >
        /** tb_approval 저장 **/
        insert into tb_approval
        (
            tran_seq,
            tran_type,
            appr_type,
            certi_type,
            store_id,
            order_seq,
            goods_name,
            goods_code,
            currency_type,
            cust_id,
            cust_name,
            cust_email,
            cust_phone,
            cust_ip,
            installment,
            tot_amt,
            pg_merch_no,
            pg_tid,
            merchant_no,
            pay_method,
            return_url,
            success_url,
            failture_url,
            order_date,
            order_time,
            product_type
        )
        VALUES
        (
            #{tranSeq},
            #{tranType},
            #{apprType},
            #{certiType},
            #{storeId},
            #{orderSeq},
            #{goodsName},
            #{goodsCode},
            #{currencyType},
            #{custId},
            #{custName},
            #{custEmail},
            #{custPhone},
            #{custIp},
            #{installment},
            #{totAmt},
            #{pgMerchNo},
            #{pgTid},
            #{merchantNo},
            #{payMethod},
            #{returnUrl},
            #{successUrl},
            #{failtureUrl},
            #{orderDate},
            #{orderTime},
            #{productType}
        )
    </insert>

    <!-- approval complete -->
    <update id="addApproval" parameterType="PayDto" >
        /** tb_approval 완료 **/
        update tb_approval
        set
            appr_type= #{apprType} ,
            certi_type= #{certiType} ,
            authty= #{authty} ,
            interest= #{interest} ,
            passwd= #{passwd} ,
            last_tid_num= #{lastTidNum} ,
            currency_type= #{currencyType} ,
            status= #{status} ,
            ip_addr= #{ipAddr} ,
            trade_date= #{tradeDate} ,
            trade_time= #{tradeTime} ,
            iss_code= #{cardCode} ,
            aqu_code= #{aquCode} ,
            cavv= #{cavv} ,
            xid= #{xid} ,
            eci= #{eci} ,
            kb_app_otp= #{kbAppOtp} ,
            KVP_NOINT= #{KVPNOINT} ,
            KVP_QUOTA= #{KVPQUOTA} ,
            KVP_PGID= #{KVPPGID} ,
            KVP_CARDCODE= #{KVPCARDCODE} ,
            KVP_SESSIONKEY= #{KVPSESSIONKEY} ,
            KVP_ENCDATA= #{KVPENCDATA} ,
            auth_no= #{authNo} ,
            message1= #{message1} ,
            message2= #{message2} ,
            card_no= #{cardNo} ,
            card_code= #{cardCode} ,
            exp_date= #{expDate} ,
            installment= #{installment} ,
            amount= #{amount} ,
            merchant_no= #{merchantNo} ,
            auth_send_type= #{authSendType} ,
            approval_send_type= #{approvalSendType} ,
            point1= #{point1} ,
            point2= #{point2} ,
            point3= #{point3} ,
            point4= #{point4} ,
            van_transaction_no= #{vanTransactionNo} ,
            auth_type= #{authType} ,
            MPI_position_type= #{MPIPositionType} ,
            MPI_re_use_type= #{MPIReUseType} ,
            Enc_data= #{EncData},
            result_code= #{resultCode},
            result_msg= #{resultMsg},
            etc_data1= #{etcData1},
            etc_data2= #{etcData2},
            etc_data3= #{etcData3},
            etc_data4= #{etcData4},
            etc_data5= #{etcData5}
        where tran_seq=#{tranSeq}
    </update>

    <insert id="addTransactionCard" parameterType="PayDto" >
        /** tb_transaction_card 완료 **/
        insert into tb_transaction_card
        (
            tran_seq,                           /* 거래 일련번호 */
            tran_date,                          /* 거래일자 */
            tran_time,                          /* 거래시간 */
            tran_type,                          /* 거래구분 ( 정상결제 : 10 , 취소결제 : 40) */
            tran_status,                        /* 거래상태 */

            tot_amt,                            /* 거래금액 */
            spl_amt,                            /* 공급가액 ( tot_amt-vat_amt ) */
            svc_amt,                            /* 비과세금액 */
            vat_amt,                            /* 부가세 */
            currency,                           /* 통화 */

            pay_chn_cate,                       /* 결제채널 */
            card_num,                           /* 카드번호 */
            card_issu_cd,                       /* 카드발급사코드 */
            card_issu_nm,                       /* 카드발급사명 */
            appr_status,                        /* 승인상태 */

            appr_date,                          /* 승인일자 */
            appr_time,                          /* 승인시간 */
            appr_no,                            /* 승인번호(AuthNo) */
            appr_req_ip,                        /* 승인요청ip */
            appr_resp_cd,                       /* 승인응답코드 */

            appr_resp_msg,                      /* 승인응답메시지 */
            pg_seq,                             /* PG거래번호 */
            free_inst_flag,                     /* 무이자할부여부 */
            product_type,                       /* 상품유형 */
            product_cd,                         /* 상품코드 */

            product_nm,                         /* 상품명 */
            cust_id,                            /* 고객아이디 */
            cust_nm,                            /* 고객명 */
            cust_email,                         /* 고객이메일 */
            cust_phone,                         /* 고객휴대폰 */

            order_seq,                          /* 주문번호 */
            merch_no,                           /* 원천차가맹점번호 */
            pg_merch_no,                        /* PG 가맹점번호 */
            tid,                                /* 터미널ID */
            pg_tid,                             /* PG TID */

            installment,                        /* 할부개월수 */
            ins_user,                           /* 회원seq */
            tb_nm,                              /* 테이블명 */
            noti_try_cnt,
            noti_status,

            tran_chk_flag,
            acqr_chk_flag,
            billkey_yn,
            tran_cate,
            valid_thru
        )
        VALUES
        (
            #{tranSeq},
            #{orderDate},
            #{orderTime},
            #{tranType},
            #{tranStatus},

            #{totAmt},
            #{splAmt},
            #{svcAmt},
            #{vatAmt},
            #{currencyType},

            #{payChnCate},
            #{cardNo},
            #{issCode},
            #{cardIssuNm},
            #{status},

            #{tradeDate},
            #{tradeTime},
            #{authNo},
            #{ipAddr},
            #{ApprovalCode},

            #{ApprovalMsg},
            #{pgSeq},                               /* pgSeq */
            #{installment},                         /* 할부개월수 */
            #{productType},
            #{goodsCode},

            #{goodsName},
            #{custId},
            #{custName},
            #{custEmail},
            #{custPhone},

            #{orderSeq},
            #{merchantNo},
            #{pgMerchNo},
            #{storeId},
            #{pgTid},

            #{installment},
            #{userSeq},
            #{tableYd},
            #{notiTryCnt},
            #{notiStatus},

            #{tranChkFlag},
            #{acqrChkFlag},
            #{billkeyYn},
            #{tranCate},
            #{expDate}
        )
    </insert>

    <insert id="addTransaction" parameterType="PayDto" >
        /** tb_transaction 완료 **/
        insert into tb_transaction
        (
            tran_seq,                           /* 거래 일련번호 */
            tran_date,                          /* 거래일자 */
            tran_type,                          /* 거래구분 ( 정상결제 : 10 , 취소결제 : 40) */
            pay_method,                         /* 거래상태 */
            tot_amt,                            /* 거래금액 */
            merch_no,                            /* 원천사 가맹점번호 */
            pg_merch_no,                        /* PG 가맹점번호 */
            ins_user,                            /* 등록아이디 */
            dpst_status,
            stlm_status
        )
        VALUES
        (
            #{tranSeq},
            #{orderDate},
            #{tranType},
            #{payMethod},
            #{totAmt},
            #{storeId},
            #{pgMerchNo},
            #{userSeq},
            #{dpstStatus},
            #{stlmStatus}
        )
    </insert>

    <insert id="addTransactionError" parameterType="PayDto" >
        /** tb_transaction_card 에러 **/
        insert into tb_transaction_error
        (
            tran_seq,                           /* 거래 일련번호 */
            tran_date,                          /* 거래일자 */
            tran_time,                          /* 거래시간 */
            tran_type,                          /* 거래구분 ( 정상결제 : 10 , 취소결제 : 40) */

            tot_amt,                            /* 거래금액 */
            currency,                           /* 통화 */
            pay_chn_cate,                       /* 결제채널 */
            card_num,                           /* 카드번호 */
            card_issu_cd,                       /* 카드발급사코드 */
            card_issu_nm,                       /* 카드발급사명 */

            appr_date,                          /* 승인일자 */
            appr_time,                          /* 승인시간 */
            appr_req_ip,                        /* 승인요청ip */
            appr_resp_cd,                       /* 승인응답코드 */
            appr_resp_msg,                      /* 승인응답메시지 */

            pg_seq,                             /* PG거래번호 */
            product_cd,                         /* 상품코드 */
            product_nm,                         /* 상품명 */
            cust_id,                            /* 고객아이디 */
            cust_nm,                            /* 고객명 */
            cust_email,                         /* 고객이메일 */
            cust_phone,                         /* 고객휴대폰 */

            order_seq,                          /* 주문번호 */
            merch_no,                           /* 원천차가맹점번호 */
            pg_merch_no,                        /* PG 가맹점번호 */
            tid,                                /* 터미널ID */
            pg_tid,                             /* PG TID */

            valid_thru,
            tran_cate,                        /* 할부개월수 */
            ins_user                           /* 회원seq */

        )
        VALUES
        (
            #{tranSeq},
            #{orderDate},
            #{orderTime},
            #{tranType},

            #{totAmt},
            #{currencyType},
            #{payChnCate},
            #{cardNo},
            #{cardCode},
            #{cardIssuNm},

            #{tradeDate},
            #{tradeTime},
            #{ipAddr},
            #{ApprovalCode},
            #{ApprovalMsg},
            #{pgSeq},                               /* pgSeq */
            #{goodsCode},

            #{goodsName},
            #{custId},
            #{custName},
            #{custEmail},
            #{custPhone},

            #{orderSeq},
            #{merchantNo},
            #{pgMerchNo},
            #{storeId},
            #{pgTid},

            #{userSeq},
            #{tranCate},
            #{expDate}

        )
    </insert>

    <insert id="addTransactionCardPg"
            parameterType="PayDto">
        /** tb_tran_cardpg_YYdd 저장 **/
        INSERT INTO TB_TRAN_CARDPG_${tableYd}
        (
            TRAN_SEQ
        , MASSAGETYPE
        , CARD_NUM
        , APP_DT
        , APP_TM
        , APP_NO

        , INSTALLMENT
        , TOT_AMT
        , PG_SEQ
        , PAY_CHN_CATE
        , TID

        , PG_TID
        , ORDER_SEQ
        , TRAN_DT
        , TRAN_TM
        , TRAN_CATE

        , TAX_AMT
        , SVC_AMT
        , CURRENCY
        , ISS_CD
        , ISS_NM
        , MERCH_NO

        , RESULT_CD
        , RESULT_MSG
        , TRAN_STATUS
        , RESULT_STATUS
        , TRAN_STEP
        , PG_TID_VAT
        , CLIENT_IP

        , MEMB_USER_NO
        , USER_TYPE
        , USER_ID
        , USER_NM
        , USER_MAIL
        , USER_PHONE1

        , PRODUCT_TYPE
        , PRODUCT_NM
        , INS_DT
        , INS_USER
        , PG_MERCH_NO
        , PG_MERCH_ADJ_CHK
        )
        VALUES
        (
            #{tranSeq}
        , #{tranType}
        , #{cardNo}
        , #{orderDate}
        , #{orderTime}
        , #{authNo}

        , #{installment}
        , #{totAmt}
        , #{pgSeq}
        , #{payChnCate}
        , #{pgSeq}

        , #{pgTid}
        , #{orderSeq}
        , #{tradeDate}
        , #{tradeTime}
        , #{tranCate}

        , #{splAmt}
        , 0
        , #{currencyType}
        , #{issCode}
        , #{cardIssuNm}
        , #{merchantNo}

        , #{approvalCode}
        , #{approvalMsg}

        , #{tranStatus}
        , #{resultStatus}
        , #{tranStep}
        , #{vatAmt}
        , #{ipAddr}

        , #{userSeq}
        , #{userCate}
        , #{custId}
        , #{custName}
        , #{custEmail}
        , #{custPhone}

        , #{productType}
        , #{goodsName}
        , DATE_FORMAT(now(),'%Y%m%d%H%i%S')
        , #{userSeq}
        , #{pgMerchNo}
        , 'N'
        )
    </insert>

    <update id="updateTranCardPg" parameterType="PayDto">
        UPDATE #{tableyd}
        SET CNCL_REASON  = #{cnclReason}
        , TRAN_STATUS  = #{tranStatus}
        , CNCL_DT      = #{cnclDt}
        <if test="accChkFlag != null and accChkFlag != ''">
            , ACC_CHK_FLAG = #{accChkFlag}
        </if>
        , MOD_DT       = DATE_FORMAT(now(),'%Y%m%d%H%i%S')
        , MOD_USER     = #{modUser}
        WHERE 1 = 1
        AND TRAN_SEQ = #{tranSeq}
    </update>

    <select id="findInstallmentMonthByNo" parameterType="PayDto" resultType="int">
        /** 가맹점 할부 가능 개월 수 조회 **/
        SELECT INSTALLMENT_MONTH
        FROM TB_PG_MST
        WHERE PG_MERCH_NO = #{pgMerchNo}
    </select>

</mapper>