<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.reappay.pg.payments.paymentsback.dao.MybatisDao">

    <select id="findApprovalTranSeq" parameterType="string" resultType="ApprDto">
        select
               order_date,
               order_time,
               order_name,
               free_amt,
               tot_amt,
               vat_amt,
               goods_name,
               goods_code,
               currency_type,
               cust_id,
               cust_name,
               cust_email,
               cust_phone,
               order_number,
               pg_merch_no,
               pg_tid,
               status
        FROM    tb_approval
        WHERE   tran_seq = #{tranSeq}
    </select>

    <insert id="addOrder" parameterType="OrderDto" >
        insert into tb_approval
        (
            tran_seq,
            tran_type,
            appr_type,
            certi_type,
            store_id,
            order_number,
            goods_name,
            goods_code,
            currency_type,
            cust_id,
            cust_name,
            cust_email,
            cust_phone,
            cust_ip,
            installment,
            tot_amt,
            pg_merch_no,
            pg_tid,
            merchant_no,
            pay_method,
            return_url,
            success_url,
            failture_url,
            order_date,
            order_time,
            product_type
        )
        VALUES
        (
            #{tranSeq},
            #{tranType},
            #{apprType},
            #{certiType},
            #{storeId},
            #{orderNumber},
            #{goodsName},
            #{goodsCode},
            #{currencyType},
            #{custId},
            #{custName},
            #{custEmail},
            #{custPhone},
            #{custIp},
            #{installment},
            #{totAmt},
            #{pgMerchNo},
            #{pgTid},
            #{merchantNo},
            #{payMethod},
            #{returnUrl},
            #{successUrl},
            #{failtureUrl},
            #{orderDate},
            #{orderTime},
            #{productType}
        )
    </insert>

    <!-- approval complete -->
    <update id="addApproval" parameterType="PayDto" >
        update tb_approval
        set
            appr_type= #{apprType} ,
            certi_type= #{certiType} ,
            authty= #{authty} ,
            interest= #{interest} ,
            passwd= #{passwd} ,
            last_tid_num= #{lastTidNum} ,
            currency_type= #{currencyType} ,
            status= #{status} ,
            ip_addr= #{ipAddr} ,
            trade_date= #{tradeDate} ,
            trade_time= #{tradeTime} ,
            iss_code= #{issCode} ,
            aqu_code= #{aquCode} ,
            cavv= #{cavv} ,
            xid= #{xid} ,
            eci= #{eci} ,
            kb_app_otp= #{kbAppOtp} ,
            KVP_NOINT= #{KVPNOINT} ,
            KVP_QUOTA= #{KVPQUOTA} ,
            KVP_PGID= #{KVPPGID} ,
            KVP_CARDCODE= #{KVPCARDCODE} ,
            KVP_SESSIONKEY= #{KVPSESSIONKEY} ,
            KVP_ENCDATA= #{KVPENCDATA} ,
            auth_no= #{authNo} ,
            message1= #{message1} ,
            message2= #{message2} ,
            card_no= #{cardNo} ,
            card_code= #{cardCode} ,
            exp_date= #{expDate} ,
            installment= #{installment} ,
            amount= #{amount} ,
            merchant_no= #{merchantNo} ,
            auth_send_type= #{authSendType} ,
            approval_send_type= #{approvalSendType} ,
            point1= #{point1} ,
            point2= #{point2} ,
            point3= #{point3} ,
            point4= #{point4} ,
            van_transaction_no= #{vanTransactionNo} ,
            filler= #{filler} ,
            auth_type= #{authType} ,
            MPI_position_type= #{MPIPositionType} ,
            MPI_re_use_type= #{MPIReUseType} ,
            Enc_data= #{EncData},
            result_code= #{resultCode},
            result_msg= #{resultMsg},
            etc_data1= #{etcData1},
            etc_data2= #{etcData2},
            etc_data3= #{etcData3},
            etc_data4= #{etcData4},
            etc_data5= #{etcData5}
        where tran_seq=#{tranSeq}
    </update>

    <insert id="addTransaction" parameterType="PayDto" >
        insert into tb_transaction_card
        (
            tran_seq,                           /* 거래 일련번호 */
            tran_date,                          /* 거래일자 */
            tran_time,                          /* 거래시간 */
            tran_type,                          /* 거래구분 ( 정상결제 : 10 , 취소결제 : 40) */
            tran_status,                        /* 거래상태 */
            tot_amt,                            /* 거래금액 */
            spl_amt,                            /* 공급가액 ( tot_amt-vat_amt ) */
            svc_amt,                            /* 비과세금액 */
            vat_amt,                            /* 부가세 */
            currency,                           /* 통화 */
            pay_chn_cate,                       /* 결제채널 */
            card_num,                           /* 카드번호 */
            card_issu_cd,                       /* 카드발급사코드 */
            appr_status,                        /* 승인상태 */
            appr_date,                          /* 승인일자 */
            appr_time,                          /* 승인시간 */
            appr_no,                            /* 승인번호(AuthNo) */
            appr_req_ip,                        /* 승인요청ip */
            appr_resp_cd,                       /* 승인응답코드 */
            appr_resp_msg,                      /* 승인응답메시지 */
            pg_seq,                             /* PG거래번호 */
            free_inst_flag,                     /* 무이자할부여부 */
            product_type,                       /* 상품유형 */
            product_cd,                         /* 상품코드 */
            product_nm,                         /* 상품명 */
            cust_id,                            /* 고객아이디 */
            cust_nm,                            /* 고객명 */
            cust_email,                         /* 고객이메일 */
            cust_phone,                         /* 고객휴대폰 */
            order_seq,                          /* 주문번호 */
            merch_no,                           /* 원천차가맹점번호 */
            tid,                                /* 터미널ID */
            installment,                        /* 할부개월수 */
            memb_user_no,                       /* 회원seq */
            tb_nm                               /* 테이블명 */
        )
        VALUES
        (
            #{tranSeq},
            #{orderDate},
            #{orderTime},
            #{tranType},
            #{tranStatus},
            #{totAmt},
            #{splAmt},
            #{svcAmt},
            #{vatAmt},
            #{currencyType},
            #{payChnCate},
            #{cardNo},
            #{cardCode},
            #{status},
            #{tradeDate},
            #{tradeTime},
            #{authNo},
            #{ipAddr},
            #{ApprovalCode},
            #{ApprovalMsg},
            #{authNo},                  /* pg_seq */
            #{installment},
            #{productType},
            #{goodsCode},
            #{goodsName},
            #{custId},
            #{custName},
            #{custEmail},
            #{custPhone},
            #{orderNumber},
            #{pgMerchNo},
            #{pgTid},
            #{installment},
            #{userSeq},
            #{tableYd}
        )
    </insert>

    <!--
    <insert id="addTransaction" parameterType="PayDto" >
        insert into tb_transaction_card
        (
            tran_seq,                           /* 거래 일련번호 */
            tran_date,                          /* 거래일자 */
            tran_time,                          /* 거래시간 */
            tran_type,                          /* 거래구분 ( 정상결제 : 10 , 취소결제 : 40) */
            tran_status,                        /* 거래상태 */
            tot_amt,                            /* 거래금액 */
            spl_amt,                            /* 공급가액 ( tot_amt-vat_amt ) */
            svc_amt,                            /* 비과세금액 */
            vat_amt,                            /* 부가세 */
            currency,                           /* 통화 */
            card_num,                           /* 카드번호 */
            card_issu_cd,                       /* 카드발급사코드 */
            appr_status,                        /* 승인상태 */
            appr_date,                          /* 승인일자 */
            appr_time,                          /* 승인시간 */
            appr_no,                            /* 승인번호(AuthNo) */
            appr_req_ip,                        /* 승인요청ip */
            appr_resp_cd,                       /* 승인응답코드 */
            appr_resp_msg,                      /* 승인응답메시지 */
            pg_seq,                             /* PG거래번호 */
            free_inst_flag,                     /* 무이자할부여부 */
            product_type,                       /* 상품유형 */
            product_cd,                         /* 상품코드 */
            product_nm,                         /* 상품명 */
            cust_id,                            /* 고객아이디 */
            cust_nm,                            /* 고객명 */
            cust_email,                         /* 고객이메일 */
            cust_phone,                         /* 고객휴대폰 */
            cust_ip,                            /* 아이피 */
            order_seq,                          /* 주문번호 */
            merch_no,                           /* 원천차가맹점번호 */
            tid,                                /* 터미널ID */
            installment,                        /* 할부개월수 */
            memb_user_no,                       /* 회원seq */
            tb_nm                               /* 테이블명 */
        )
        VALUES
        (
            #{tranSeq},
            #{orderDate},
            #{orderTime},
            #{tranType},
            #{tranStatus},
            #{totAmt},
            #{splAmt},
            #{svcAmt},
            #{freeAmt},
            #{vatAmt},
            #{currency},
            #{payChnCate},
            #{cardNo},
            #{cardCode},
            #{status},
            #{tradeDate},
            #{tradeTime},
            #{authNo},
            #{ipAddr},
            #{ApprovalCode},
            #{ApprovalMsg},
            #{authNo},
            #{goodsCode},
            #{goodsName},
            #{custId},
            #{custName},
            #{custEmail},
            #{custPhone},
            #{custIp},
            #{orderNumber},
            #{pgMerchNo},
            #{pgTid},
            #{installment},
            #{userSeq},
            #{tableYd},
        )
    </insert>
    -->

    <!--<insert id="insertTranCardPg"
            parameterType="tbTranCardPg">
        /** tb_tran_cardpg 저장 **/
        INSERT INTO #{tableyd}
        (
            TRAN_SEQ
        , MASSAGETYPE
        , CARD_NUM
        , APP_DT
        , APP_TM
        , APP_NO
        , INSTALLMENT
        , TOT_AMT
        , PG_SEQ
        , PAY_CHN_CATE
        , TID
        , PG_TID
        , WCC
        , CARD_CATE
        , ORDER_SEQ
        , TRAN_DT
        , TRAN_TM
        , TRAN_CATE
        , TAX_AMT
        , SVC_AMT
        , CURRENCY
        , ISS_CD
        , ISS_NM
        , MERCH_NO
        , ORG_MERCH_NO
        , RESULT_CD
        , RESULT_MSG
        , ORG_APP_DD
        , ORG_APP_NO
        , CNCL_REASON
        , TRAN_STATUS
        , RESULT_STATUS
        , TRAN_STEP
        , CNCL_DT
        , PG_TID_PAY_AMT
        , PG_TID_COMMISION
        , PG_TID_VAT
        , CLIENT_IP
        , USER_TYPE
        , MEMB_USER_NO
        , USER_ID
        , USER_NM
        , USER_MAIL
        , USER_PHONE1
        , USER_ADDR
        , PRODUCT_TYPE
        , PRODUCT_NM
        , TRAD_CHK_FLAG
        , ACC_CHK_FLAG
        , INS_DT
        , INS_USER
        , ORG_PG_SEQ
        , PG_MERCH_NO
        , FILLER
        )
        VALUES
        (
            #{tranSeq}
        , #{massageType}
        , #{cardNum}
        , #{appDt}
        , #{appTm}
        , #{appNo}
        , #{installment}
        , #{totAmt}
        , #{pgSeq}
        , #{payChnCate}
        , #{tid}
        , #{pgTid}
        , #{wcc}
        , #{cardCate}
        , #{orderSeq}
        , #{tranDt}
        , #{tranTm}
        , #{tranCate}
        , #{taxAmt}
        , #{svcAmt}
        , #{currency}
        , #{issCd}
        , #{issNm}
        , #{merchNo}
        , #{orgMerchNo}
        , #{resultCd}
        , #{resultMsg}
        , #{orgAppDd}
        , #{orgAppNo}
        , #{cnclReason}
        , #{tranStatus}
        , #{resultStatus}
        , #{tranStep}
        , #{cnclDt}
        , #{pgTidPayAmt}
        , #{pgTidCommision}
        , #{pgTidVat}
        , #{clientIp}
        , #{userType}
        , #{membUserNo}
        , #{userId}
        , #{userNm}
        , #{userMail}
        , #{userPhone1}
        , #{userAddr}
        , #{productType}
        , #{productNm}
        , #{tradChkFlag}
        , #{accChkFlag}
        , DATE_FORMAT(now(),'%Y%m%d%H%i%S')
        , #{userNo}
        , #{orgPgSeq}
        , #{pgMerchNo}
        , #{filter}
        )
    </insert>


    <update id="updateTranCardPg" parameterType="tbTranCardPg">
        UPDATE #{tableyd}
        SET CNCL_REASON  = #{cnclReason}
        , TRAN_STATUS  = #{tranStatus}
        , CNCL_DT      = #{cnclDt}
        <if test="accChkFlag != null and accChkFlag != ''">
            , ACC_CHK_FLAG = #{accChkFlag}
        </if>
        , MOD_DT       = DATE_FORMAT(now(),'%Y%m%d%H%i%S')
        , MOD_USER     = #{modUser}
        WHERE 1 = 1
        AND TRAN_SEQ = #{tranSeq}
    </update>
    -->
</mapper>